.footer,
.push {
    height: 70px;
}

.footer {
    margin-right: 2px;
    width: 100%;
    border-top: 1px solid #96d1f8;
    padding: 13px 26px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;

}