body {
  text-align: center;
  padding: 5%;
  background-color: #111;
  /* color: black; */
  font-family: Roboto;
  background-image: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.015) 50%, hsla(0,0%,0%,.015) 100%),
                      -webkit-radial-gradient(hsla(0,0%,0%,.05) 10%, transparent 15%);
                      background-size: 1.5em 1.5em, .5em .5em;
                      line-height: 1.5;
                      margin: 0 auto;
                      padding: 1.5em;
}
html {
  height: 100%;
  margin: 0;
}
.main-wrapper {
  border: 5px solid white;
  border-radius: 25px 25px 25px 25px;
}
.header {
  background-color: #111;
}
h1, h2, h3, h4, h5, p, ul, li {
  font-family: Roboto;
}
h2, h3, h4, h5, p {
  font-weight: normal;
  color: #000;
  margin: 0;
  padding: 0;
  text-shadow: 0 1px 0 #ccc, 0 1px 0 #c9c9c9, 0 2px 0 #bbb, 0 1px 0 #b9b9b9, 0 2px 0 #aaa, 0 1px 1px rgba(0, 0, 0, .1);
  font-weight: 800, 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #FFFFFF;
  padding: 0;
}
ul.header li a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -5px;
}
.content li {
  margin-bottom: 10px;
}
ol, ul {
  margin-bottom: 0;
}
.component-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.bio-txt {
  color: black;
  width: 100%;
  padding: 10px;
  text-align: left;
  border-radius: 5px;
  animation-name: fade-in;
  animation-duration: 1s;
  /* font-size: 14px; */
}
.more-albums-button {
  cursor: pointer;
  font-style: italic;
  padding: 10px;
}
.more-tracks-button {
  cursor: pointer;
  font-style: italic;
  padding: 10px;
}
.bio-img {
  float: left;
  margin: 10px;
}
.bio-wrapper {
  margin: 5%;
}
.lastfm-albums {
  margin-left: 5%;
  width: 100%;
}
.lastfm-tracks {
  margin-left: 5%;
}
.jumbotron {
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(225, 228, 232)
}
.results-wrapper {
  padding-top: 155px;
}
.flex-container {
  padding: 1.5em;
  margin: 0;
  list-style: none;
  align-items: left;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.tour-info-txt{
  margin: 5.5em;
}