body {
  text-align: center;
  padding: 5%;
  background-color: #111;
  /* color: black; */
  font-family: Roboto;
}
html {
  height: 100%;
  margin: 0;
}
.main-wrapper {
  border: 5px solid white;
  border-radius: 25px 25px 25px 25px;
}
.header {
  background-color: #111;
}
h1, h2, h3, h4, h5, p, ul, li {
  font-family: Roboto;
}
h2, h3, h4, h5 {
  font-weight: normal;
  color: #000;
  margin: 0;
  padding: 0;
  text-shadow: 0 1px 0 #ccc, 0 1px 0 #c9c9c9, 0 2px 0 #bbb, 0 1px 0 #b9b9b9, 0 2px 0 #aaa, 0 1px 1px rgba(0, 0, 0, .1), 0 0 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(0, 0, 0, .3), 0 2px 1px rgba(0, 0, 0, .2);
  font-weight: 800, 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #FFFFFF;
  padding: 0;
}
ul.header li a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -5px;
}
.content li {
  margin-bottom: 10px;
}
ol, ul {
  margin-bottom: 0;
}

.component-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bio-txt {
  color: black;
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  animation-name: fade-in;
  animation-duration: 1s;
  /* font-size: 14px; */
}

.more-albums-button {
  cursor: pointer;
  font-style: italic;
  padding: 10px;
}

.more-tracks-button {
  cursor: pointer;
  font-style: italic;
  padding: 10px;
}

.search-item {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 10px;
  padding: 5px;
}

.search-txt {
  display: inline-block;
  text-align: left;
  padding-right: 10px;
  width: 400px;
  animation-name: fade-in;
  animation-duration: 1s;
}

